<feed xmlns="http://www.w3.org/2005/Atom">
 <id>{{.ServerRootURL}}</id>
 <title>{{.Blogplus.Title}}</title>
 <link href="{{.ServerRootURL}}/"/>
 <link href="{{.ServerRootURL}}/feed" ref="self"/>
 <updated>{{.GlobalUpdated}}</updated>
 <author>
  <name>{{.Blogplus.AuthorName}}</name>
  <uri>{{.Blogplus.AuthorUri}}</uri>
 </author>
 <logo>{{.Blogplus.LogoUrl}}</logo>
 {{range .Posts}}
 <entry>
  <id>{{.Permalink}}</id>
  <link href="{{.Permalink}}"/>
  <title>{{.Object.Subject}}</title>
  <content type="html">{{.Object.HTMLContent}}</content>
  <summary>{{.Object.HTMLContent}}</summary>
  <published>{{.Published}}</published>
  <updated>{{.Updated}}</updated>
 </entry>
 {{end}}
</feed>
